/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 32px auto;
  
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
  
  
  .loader.visible {
    display: block; 
  }
  
  .loader:not(.visible) {
    display: none; 
  }
  
  .search-form {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center
  }

  .form-control {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
    color: #808080;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  .form-control:hover {
    border-radius: 4px;
    border: 1px solid #000;
  }
  .btn-primary {
    width: 91px;
    height: 45px;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4E75FF;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
  }
.btn-primary:hover {
  border-radius: 8px;
  background: #6C8CFF;  
}

.card-container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  margin: 24px 156px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.comments {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    display: flex;
    flex-wrap: wrap;

}

.gallery-item-description {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #000;

}
